{% extends 'base.html.twig' %}

{% block title %}{{ pokemon_card.name }} - {{ pokemon_card.extension.name }}{% endblock %}

{% block body %}
<section class="container">
    <div class="layout-grid layout-grid--sidebar">
        <aside class="sidebar">
            {% if pokemon_card.image and pokemon_card.image.path %}
                <img src="{{ asset(pokemon_card.image.path) }}" alt="{{ pokemon_card.name }}" class="sidebar__image">
            {% else %}
                <img src="{{ asset('images/placeholder.png') }}" alt="Image non disponible" class="sidebar__image">
            {% endif %}
        </aside>

        <div class="main-content">
            <h1 class="site-title" style="text-align: left;">{{ pokemon_card.name }}</h1>
            <p class="card__subtitle">{{ pokemon_card.extension.name }} - Carte n°{{ pokemon_card.number }}</p>
            
            <ul class="details-list">
                <li><strong>Série:</strong> {{ pokemon_card.extension.serie.name }}</li>
                <li><strong>Rareté:</strong> {{ pokemon_card.rarityText }}</li>
                <li><strong>Type:</strong> {{ pokemon_card.category }}</li>
                {% if pokemon_card.specialType %}
                    <li><strong>Type Spécial:</strong> {{ pokemon_card.specialType }}</li>
                {% endif %}
            </ul>

            <a href="{{ path('app_product_sell', {'pokemonCardId': pokemon_card.id}) }}" class="btn btn--primary" style="width: 100%; margin-top: 2rem;">
                Vendre cette carte
            </a>
        </div>
    </div>

    <div class="announcements-section">
        <h2 class="site-title">Annonces pour cette carte</h2>
        <div class="layout-grid">
            {% for product in products %}
                <div class="card">
                    {% if product.media|first %}
                        <div class="card__image-container">
                           <img src="{{ asset(product.media|first.path) }}" alt="Photo de {{ product.title }}">
                        </div>
                    {% endif %}
                    <div class="card__body">
                        <h3 class="card__title">{{ product.title }}</h3>
                        <p class="card__subtitle">Vendu par: {{ product.users.firstname }}</p>
                        <p class="product-price">{{ product.price }} €</p>
                    </div>
                    <div class="card__footer">
                        <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn--secondary" style="width:100%">Voir l'annonce</a>
                    </div>
                </div>
            {% else %}
                <p class="text-center">Il n'y a pas encore d'annonce pour cette carte.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %} 