{% extends 'base.html.twig' %}

{% block title %}Mettre un nouvel article en vente{% endblock %}

{% block body %}
<div class="form-container">
    <h1>Mettre un nouvel article en vente</h1>

    {{ form_start(form) }}
        <div class="form-columns">
            <div class="form-column-left">
                <fieldset>
                    <legend>Détails de l'article</legend>
                    <div class="form-row">{{ form_row(form.title) }}</div>
                    <div class="form-row">{{ form_row(form.number) }}</div>
                    <div class="form-row">{{ form_row(form.category) }}</div>
                    <div class="form-row">{{ form_row(form.price) }}</div>
                </fieldset>
            </div>
            <div class="form-column-right">
                <fieldset>
                    <legend>Description</legend>
                    <div class="form-row">{{ form_row(form.description) }}</div>
                </fieldset>
                <fieldset>
                    <legend>Photos</legend>
                    <div class="form-row">{{ form_row(form.imageFiles) }}</div>
                </fieldset>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Mettre en vente</button>
    {{ form_end(form) }}
</div>
{% endblock %} 